{% extends 'base-figma-password.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="/static/assets/css/style-figma.css" rel="stylesheet">
<link href="/static/assets/css/style-figma-1.css" rel="stylesheet">
<body class="body-class" style="overflow-x: hidden;">
<div class="forget-box">
    <form method="post" class="form" id="form">
        {% csrf_token %}
        <p class="status-text" style="margin-left: 50px">Reset Password !</p>
        {% if Text %}
            <div style="position: absolute; text-align: center; border-top-left-radius: 8px; border-top-right-radius: 8px; font-size: 14px; padding: 5px; padding-left: 70px; margin-top: -55px; width: 62.5%; height: 35px; font-family: 'Ubuntu';  color: red;">
                {{ Text }}
            </div>
        {% endif %}
        <div class="form-group" style="margin-left: 380px; margin-top: 50px;">
            <label for="new_password">New Password</label>
            <input type="text" id="new_password" name="new_password" style="width: 250px; height: 30px; font-size: 14px; font-family: 'Ubuntu';"  class="form-control" required>

        </div>

        <div class="form-group" style="margin-left: 380px; margin-top: 8px;">
            <label for="r_password">Re-confirm Password</label>
            <input type="text" id="r_password" name="reconfirm_password" style="width: 250px; height: 30px; font-size: 14px; font-family: 'Ubuntu';"  class="form-control" required>
        </div>

        <input type="hidden" name="user_id" value="{{user_id}}">
        <button class="login-button111" type="submit">Submit</button>
        <div>
            <img class="status-png-password" style="margin-top: -200px;" src="/static/assets/img/password_change.jpg"/>
        </div>

    </form>
</div >
<img class="bar-png-forget" src="/static/assets/img/bar.png"/>
{% endblock %}
</body>

</html>
